@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Merriweather:wght@300;400;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Merriweather", serif;
  font-family: "Inter", sans-serif;
}

/* Shared style */
.container {
  width: 85%;
  max-width: 1320px;
  margin: 0 auto 120px;
}

.banner {
  position: relative;
  width: 100%;
  min-height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(/resources/Banner\ Image.png);
  background-repeat: no-repeat;
  background-position: center;
}

.banner .banner-content {
  max-width: 640px;
  text-align: center;
  /* font-family: "Merriweather", serif; */
}
.banner .banner-content p {
  color: #fff;
  font-size: 32px;
  font-weight: 400;
}
.banner .banner-content h1 {
  color: #fff;
  font-size: 72px;
  font-weight: 900;
}
.discount {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 140px;
}
.discount-content h1 {
  color: #f00;
  font-family: "Inter", sans-serif;
  font-size: 88px;
  font-weight: 700;
  margin-bottom: 35px;
  text-align: center;
}
.discount-content p {
  color: #f00;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 10px;
}
.discount-content h3 {
  color: #070211;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 35px;
}
.party {
  position: relative;
  width: 100%;
  min-height: 600px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(/resources/Vectorrr.png);
  background-repeat: no-repeat;
  background-position: center;
  padding: 0 120px;
}

.party-content h2 {
  color: #fff;
  font-family: "Merriweather", serif;
  font-size: 64px;
  font-weight: 900;
  line-height: 88px; /* 137.5% */
  letter-spacing: 7.04px;
  margin-bottom: 30px;
}
.party-content p {
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
  margin-bottom: 48px;
}
.party-content .btn-transparent {
  color: #fff;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 16px 32px;
  background: transparent;
  border: none;
  transition: all .3s linear;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  -ms-transition: all .3s linear;
  -o-transition: all .3s linear;
}
.party-content .btn-transparent:focus,
.party-content .btn-transparent:hover {
  letter-spacing: 2px;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  background-color: #f00;
}
.address {
  position: relative;
  width: 100%;
  min-height: 480px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
}
.address h3 {
  color: #070211;
  font-family: "Inter", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px;
  text-transform: capitalize;
}
.address h3 span {
  color: #f00;
}
.address .btn {
  display: inline-block;
  color: #fff;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #f00;
  padding: 16px 32px;
  border: none;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  margin-top: 20px;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
}
.address .btn:hover{
  opacity: .7;
  transform: scale(.98);
  -webkit-transform: scale(.98);
  -moz-transform: scale(.98);
  -ms-transform: scale(.98);
  -o-transform: scale(.98);
}
.offer {
  position: relative;
  width: 100%;
  min-height: 482px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.offer .offer-text {
  width: 33%;
}
.offer .offer-text h3 {
  color: #f00;
  text-align: left;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 500;
}
.offer .offer-text h2 {
  color: #070211;
  font-family: "Merriweather", serif;
  font-size: 48px;
  font-weight: 900;
  text-transform: capitalize;
}
.offer .offer-text p {
  color: rgba(7, 2, 17, 0.6);
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px; /* 160% */
}
.offer .offer-image {
  width: 33%;
  border-radius: 463px;
  border: 15px solid #f00;
  margin-left: 95px;
  flex-shrink: 0;
}
.offer .offer-image img {
  width: 100%;
  padding: 30px;
}
.offer-logo {
  width: 33%;
  height: 180px;
  padding-left: 120px;
}
.offer .offer-logo h2 {
  color: #f00;
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
}
.offer .offer-logo p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px; /* 160% */
  margin-bottom: 43px;
}
.holiday {
  position: relative;
  width: 100%;
  min-height: 986px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.holiday-content {
  padding: 0 140px;
}
.holiday-content h3 {
  color: #070211;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 16px;
}
.holiday-content h2 {
  color: #070211;
  font-family: "Merriweather", serif;
  font-size: 72px;
  font-weight: 900;
  margin-bottom: 28px;
}
.holiday-content h2 span {
  color: #f00;
}
.holiday-content p {
  color: rgba(7, 2, 17, 0.6);
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  line-height: 32px; /* 160% */
}

.holiday-image .img1 {
  position: absolute;
  left: 50px;
  bottom: 20px;
  z-index: 1;
  width: 50%;
}
.holiday-image .img2 {
  position: absolute;
  bottom: 0;
  left: 0;
}
.holiday-image .img3 {
  position: absolute;
  right: 0;
  bottom: 229px;
}
.holiday-image .img4 {
  position: absolute;
  position: absolute;
  top: 406px;
  z-index: 1;
}

/* Card section */

.card {
  position: relative;
  width: 100%;
  min-height: 1160px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.card-content h3 {
  color: #f00;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 10px;
}
.card-content h2 {
  color: #070211;
  font-family: "Merriweather", serif;
  font-size: 48px;
  font-weight: 900;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.card-content p {
  color: rgba(7, 2, 17, 0.6);
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 33px;
}
.card-image {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  cursor: pointer;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
}
.card-image-box {
  cursor: pointer;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
}
.card-image .card-image-box:hover {
  box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.5);
  transform: scale(0.98);
  -webkit-transform: scale(0.98);
  -moz-transform: scale(0.98);
  -ms-transform: scale(0.98);
  -o-transform: scale(0.98);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.subscribe {
  position: relative;
  width: 100%;
  max-height: 620px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 1.6rem;
  background: rgba(255, 0, 0, 0.05);
}
.subscribe-content {
  text-align: center;
  padding: 80px 200px;
}
.subscribe-content h2 {
  color: #070211;
  text-align: center;
  font-family: "Merriweather", serif;
  font-size: 3rem;
  font-weight: 900;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.subscribe-content p {
  color: rgba(7, 2, 17, 0.6);
  text-align: center;
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
}
.subscription-field {
  margin-bottom: 80px;
}
.subscription-field input {
  border-radius: 5rem 0 0 5rem;
  background: #fff;
  padding: 16px 32px;
  border: none;
  -webkit-border-radius: 5rem 0 0 5rem;
  -moz-border-radius: 5rem 0 0 5rem;
  -ms-border-radius: 5rem 0 0 5rem;
  -o-border-radius: 5rem 0 0 5rem;
  color: rgba(7, 2, 17, 0.3);
  text-align: left;
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
}
.subscription-field button {
  border-radius: 0rem 5rem 5rem 0rem;
  background: #f00;
  padding: 16px 32px;
  border: none;
  color: #fff;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: capitalize;
  cursor: pointer;
}
.footer {
  position: relative;
  background-color: #070211;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 610px;
}
.row1 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 120px 0px 40px 0px;
}
.contact-container a {
  display: flex;
  color: #fff;
  gap: 5px;
  text-decoration: none;
}
hr {
  width: 90%;
  height: 2px;
  background: rgba(255, 255, 255, 0.15);
  margin: 0 auto;
}
.row2 {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 48px 0;
}
.row3 {
  display: flex;
  justify-content: space-around;
  padding: 48px 0;
}
.row3 a {
  color: #fff;
  text-decoration: none;
}
.row3 a:hover{
  text-decoration: underline;
}