@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Merriweather", serif;
}

/* Shared style */
.container {
  width: 85%;
  max-width: 1320px;
  margin: 0 auto;
}
.banner {
  position: relative;
  width: 100%;
  min-height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(/resources/Banner\ Image.png);
  background-repeat: no-repeat;
  background-position: center;
}

.banner .content {
  max-width: 640px;
  text-align: center;
}
.banner .content p {
  color: #fff;
  font-size: 32px;
  font-weight: 400;
}
.banner .content h1 {
  color: #fff;
  font-size: 72px;
  font-weight: 900;
  line-height: 95px; /* 131.944% */
}
